@page "/ManageOrders/{id:int}"
@using global::Shared.Model
@using global::Shared.Dtos
@using HttpClients.ClientInterfaces
@inject IOrderService orderService
<h3>Manage Order feature coming soon</h3>

@if (order == null)
{
    <h3>Loading</h3>
    <br/>
    <span>fetching data..</span>
}

else
{
    <div class="post-card">
        <h3>@order.Customer.FirstName</h3>
        <br/>
        <p>@order.Items</p>
    </div>
    <br/>
    <p class="legal">ordered by: @order.Customer.FirstName</p>
}

@code {
    [Parameter] 
    public int Id { get; set; }

    private OrderCreationDto order;
    private string msg = "";
    private string error = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            /*Console.WriteLine("about to fetch");
            order = await orderService.GetOrderByIdAsync(Id);
            Console.WriteLine("fetched the order!");*/
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}