@page "/ManageOrders/{id:int}"
@using global::Shared.Model
@using global::Shared.Dtos
@using HttpClients.ClientInterfaces
@inject IOrderService orderService
@inject NavigationManager navMgr

@if (order == null)
{
    <h3>Loading</h3>
    <br/>
    <span>fetching data..</span>
}

else
{
    <div class="post-card">
        <h3>Order: @Id</h3>
        <p>This order has the following items:</p>
        <br/>
        @foreach (var item in order.Items)
        {
            <li>@item.Name</li>
        }
    </div>
    <br/>
    <p class="legal">ordered by: @order.Customer.FirstName</p>
    <br/>
    <br/>
    <br/>
    <div>
        <button @onclick="DeleteOrder">Delete order</button>
    </div>
}

@code {
    [Parameter] 
    public int Id { get; set; }

    private OrderCreationDto order;
    private string msg = "";
    private string error = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            Console.WriteLine("about to fetch");
            order = await orderService.GetOrderByIdAsync(Id);
            Console.WriteLine("fetched the order!");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task DeleteOrder()
    {
        msg = "";
        try
        {
            await orderService.DeleteAsync(Id);
            navMgr.NavigateTo($"/ViewOrders");
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}