/CanteenSystem/Application/bin/
CanteenSystem/Application/bin/
CanteenSystem/Application/obj/
CanteenSystem/BlazorApp/bin/
CanteenSystem/BlazorApp/obj/
CanteenSystem/DataAccess/bin/
CanteenSystem/DataAccess/obj/
CanteenSystem/HttpClients/bin/
CanteenSystem/HttpClients/obj/
CanteenSystem/Shared/bin/
CanteenSystem/Shared/obj/
CanteenSystem/WebAPI/bin/
CanteenSystem/WebAPI/obj/

bin/
obj/
CanteenSystem/bin/
CanteenSystem/obj/