@page "/SeeMenu"
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@inject IMenuService menuService

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (menu == null)
{
    <span>Loading..</span>
}
else if (!menu.Items.Any())
{
    <span>There are no items on this menu...</span>
}
else
{
    <div class="users-container">
     
    </div>
}


@code {
    private string msg;
    private MenuBasicDto menu;
    
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            menu = await menuService.GetMenuByDateAsync(new DateTime(2023, 05, 10));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
}