.funnel{
    width:30px;
    height:30px;
    cursor: pointer;
}

.head{
    margin: auto;
    width: 30%;
    border-radius: 5px;
}

.allergen{
    border-radius: 10px;
    background-color: #0bff80;
}

.allergen-table{
    margin: auto;
}

.tItem{
    margin: auto;
    padding: 8px;
}
.filter-bar{
    width: 25%;
    margin: auto;
    display: inline-block;
}
button{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}
