@page "/ManageItems/{Id:int}"
@using global::Shared.Dtos
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inject IItemService itemService;
@inject IIngredientService ingredientService;


<h3>Manage Items</h3>

<h3>Selected Item: </h3>

