@page "/ViewItemDetails/{Id:int}"
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@using global::Shared.Model
@inject NavigationManager navMgr
@inject IItemService itemService;
@inject IIngredientService IngredientService;
<h3>Item Details</h3>

<div class="card1">
    @if (_ingredients== null)
    {
        <label>Loading item...</label>
    }
    
    else if (dto == null)
    {
        <label>Loading item data..</label>
    }
    else
    {
        <div class="form-group field">
            <label>Name:</label>
            <input  type="text" @bind="dto.Name" readonly/>
        </div>
        <br/>
        <div class="form-group field">
            <label>Price:  </label>
            <input  type="text" @bind="dto.Price" readonly/>
        </div>
        <br/>
        <div class="form-group field">
            <label>Ingredients:</label>
             @foreach (var ing in dto.Ingredients)
                        {
                           <li>@ing.Name</li> 
                        }
             </div>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }
</div>


        
       
@code {
    [Parameter]
    public int Id { get; set; }
    
    private ItemBasicDto dto = null!;
   
    private string msg = "";
    private string? name;
    private int price;
    private IEnumerator<Item>? items;
    private ICollection<Ingredient>? _ingredients;
    ///Method which gets called when accessing the page 
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            dto = await itemService.GetByIdAsync(Id);
            _ingredients = dto.Ingredients;
            

            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    } 
    
}